.logo {
    font-family: 'Lobster', cursive;
}

.footer_nav {
    font-size: .9rem;
}

.header_nav {
    font-size: 1rem;
}


@media screen and (max-width:500px) {
    html {
    font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.header_nav {
    margin: 0 0.5rem;
}