<div class="text-center mt-4">
    <div>
        <h1 class="logo">Pieces' Pinterest</h1>
    </div>
    <div class="header_nav">
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>

        {% if not user.is_authenticated %}
        <a href="{% url 'accountApp:login' %}?next={{ request.path }}">
            <span>login</span>
        </a>
        {% else %}
        <a href="{% url 'accountApp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountApp:logout' %}?next={{ request.path }}">
            <span>logout</span>
        </a>
        {% endif %}
    </div>
</div>